{% extends "base.html.twig" %}

{% block title %}Terrains - {% endblock %}

{% block body %}

    <div id="container" class="col-12 text-center">


        <figure id="terrain">
            <svg class="img-fluid" viewBox="0 0 1224 547" width="1224" height="547" preserveAspectRatio="xMinYMin meet" >
                <image width="1224" height="547" xlink:href="/img/PlanTerrainsTournoi.png" />

                <g opacity="0" id="terrain1">
                    <a xlink:href="/terrain/1">
                        <rect x="510" y="210" opacity="1" fill="blue" width="155" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain2">
                    <a xlink:href="/terrain/2">
                        <rect x="542" y="273" opacity="1" fill="red" width="130" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain3">
                    <a xlink:href="/terrain/3">
                        <rect x="800" y="245" opacity="1" fill="pink" width="160" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain4">
                    <a xlink:href="/terrain/4">
                        <rect x="870" y="312" opacity="1" fill="red" width="160" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain5">
                    <a xlink:href="/terrain/5">
                        <rect x="350" y="115" opacity="1" fill="cyan" width="145" height="35" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain6">
                    <a xlink:href="/terrain/6">
                        <rect x="374" y="70" opacity="1" fill="red" width="125" height="30" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain7">
                    <a xlink:href="/terrain/7">
                        <rect x="230" y="-243" opacity="1" fill="yellow" width="40" height="90" style="transform: rotate(55deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain8">
                    <a xlink:href="/terrain/8">
                        <rect x="187" y="-175" opacity="1" fill="crimson" width="42" height="115" style="transform: rotate(53deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain9">
                    <a xlink:href="/terrain/9">
                        <rect x="232" y="-110" opacity="1" fill="orange" width="40" height="110" style="transform: rotate(55deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain10">
                    <a xlink:href="/terrain/10">
                        <rect x="280" y="-182" opacity="1" fill="red" width="42" height="100" style="transform: rotate(56deg);" ></rect>
                    </a>
                </g>

            </svg>
        </figure>
        <hr class="mt-2">
        <h3 class="pb-2 text-center">Liste des terrains</h3>
        <hr class="mt-2" >
         
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}

var url =url_base+"/api/fields";

var load = document.createElement("h3");
load.setAttribute("id", "load");
load.innerText= "Chargement en cours";
document.getElementById("container").appendChild(load);

fetch(url).then(function(resultas){
    console.log(resultas);
    document.getElementById("load").style.display= "none";

    resultas.json().then(function(object){
        //console.log(object);
        data = object.data
        console.log(data)
        var FinLien= 1;
        let div = document.createElement("div");
        div.classList.add("row");

        div.innerHTML = '<div class="ccol-12 col-md-4 mb-2"><a class="btn btn-primary d-block w-100" href="/terrain/1_2">Terrain 1 + 2</a></div>';

        document.getElementById("container").appendChild(div);

        data.forEach(function(affiche){

           let divInside = document.createElement("div");
           div.appendChild(divInside);
           divInside.classList.add("col-4","mb-2");

            let a = document.createElement("a");
            a.innerText= affiche.Name;

            a.classList.add("btn");
            a.classList.add("btn-primary","d-block","w-100");


            a.setAttribute("href", "/terrain/"+FinLien);
            divInside.appendChild(a);
            FinLien++;

        });

    });
});

setInterval(() => {
    location.reload();
}, 30000);
{% endblock %}