{% extends "base.html.twig" %}

{% block title %}Terrains - {% endblock %}

{% block body %}

    <div class="row">

        <h3 class="pb-2 text-center">Liste des terrains</h3>
        <hr class="mt-2" >

        <div class="col-12 col-md-4 mr-2"><a  href="{{ path("terrain_show12") }}" class="btn btn-primary w-100 ">Terrain 1+2</a>
        </div>
        {% for field in fields %}
            <div class="col-12 col-md-4 mb-3"><a  href="{{ path("terrain_show",{id:field.id}) }}" class="btn btn-primary w-100 ">{{ field }}</a>
            </div>
        {% endfor %}
    </div>

    <div id="container" class="col-12 text-center">


        <hr class="mt-2">


        <figure id="terrain">
            <svg class="img-fluid" viewBox="0 0 1224 547" width="1224" height="547" preserveAspectRatio="xMinYMin meet" >
                <image width="1224" height="547" xlink:href="/img/PlanTerrainsTournoi.jpeg" />


            </svg>
        </figure>

         
    </div>

{% endblock %}
