{% extends "base.html.twig" %}
{% block body %}

    <div class="col-12 text-center">

        <h2>{{ terrain.Name }}</h2>

        <p>// liste des matchs</p>

        <img class="img-fluid" src="/img/PlanTerrainsTournoi.png">
    </div>

{% endblock %}

{% block javascript %}

//Url de l'api : /api/fields

{% endblock %}