{% extends "base.html.twig" %}

{% block title %}Terrain {{ terrain.Name }} - {% endblock %}

{% block body %}

    <div id="container" class="col-12 text-center">

        <h2 id="nomTerrain">{{ terrain.Name }}</h2>

        <p>// liste des matchs</p>

        <figure id="terrain">
            <svg class="img-fluid" viewBox="0 0 1224 547" width="1224" height="547" preserveAspectRatio="xMinYMin meet" >
                <image width="1224" height="547" xlink:href="/img/PlanTerrainsTournoi.png" />

                <g opacity="0" id="terrain1">
                    <a xlink:href="//localhost:8000/terrain/1">
                        <rect x="510" y="210" opacity="1" fill="blue" width="155" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain2">
                    <a xlink:href="//localhost:8000/terrain/2">
                        <rect x="542" y="273" opacity="1" fill="red" width="130" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain3">
                    <a xlink:href="//localhost:8000/terrain/3">
                        <rect x="800" y="245" opacity="1" fill="pink" width="160" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain4">
                    <a xlink:href="//localhost:8000/terrain/4">
                        <rect x="870" y="312" opacity="1" fill="red" width="160" height="45" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain5">
                    <a xlink:href="//localhost:8000/terrain/5">
                        <rect x="350" y="115" opacity="1" fill="cyan" width="145" height="35" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain6">
                    <a xlink:href="//localhost:8000/terrain/6">
                        <rect x="374" y="70" opacity="1" fill="red" width="125" height="30" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain7">
                    <a xlink:href="//localhost:8000/terrain/7">
                        <rect x="230" y="-243" opacity="1" fill="yellow" width="40" height="90" style="transform: rotate(55deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain8">
                    <a xlink:href="//localhost:8000/terrain/8">
                        <rect x="187" y="-175" opacity="1" fill="crimson" width="42" height="115" style="transform: rotate(53deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain9">
                    <a xlink:href="//localhost:8000/terrain/9">
                        <rect x="232" y="-110" opacity="1" fill="orange" width="40" height="110" style="transform: rotate(55deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain10">
                    <a xlink:href="//localhost:8000/terrain/10">
                        <rect x="280" y="-182" opacity="1" fill="red" width="42" height="100" style="transform: rotate(56deg);" ></rect>
                    </a>
                </g>

            </svg>
        </figure>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}

var url =url_base+"/api/matchs"
var terrain = document.getElementById("nomTerrain").textContent;
console.log(terrain);
var idTableau =1;

//affiche nom d'equipe, score, poule, phase.

function afficheMatch(match, terrain, div, idboard){
    let titre = false;
    match.forEach(function(m){
        if(m.Field.Name === terrain){
            while(titre === false){
                let br = document.createElement("br");
                div.appendChild(br);

                let h3 = document.createElement("h3");
                h3.innerText= m.Phase.Name;
                div.appendChild(h3);

                let table = document.createElement("table");
                table.setAttribute("class", "table table-bordered");
                table.setAttribute("id", "board"+idboard)
                div.appendChild(table);

                let thead = document.createElement("thead");
                table.appendChild(thead);

                let th = document.createElement("th");
                th.innerText= "Poule";
                th.setAttribute("scope", "col");
                thead.appendChild(th);

                th = document.createElement("th");
                th.innerText= "Equipe A";
                th.setAttribute("scope", "col");
                thead.appendChild(th);

                th = document.createElement("th");
                th.innerText= "Equipe B";
                th.setAttribute("scope", "col");
                thead.appendChild(th);

                th = document.createElement("th");
                th.innerText= "Score A";
                th.setAttribute("scope", "col");
                thead.appendChild(th);

                th = document.createElement("th");
                th.innerText= "Score B";
                th.setAttribute("scope", "col");
                thead.appendChild(th);

                titre = true;
            }

            tr = document.createElement("tr");
            tr.innerText = "Poule "+m.Poule.Name;
            document.getElementById("board"+idboard).appendChild(tr);

            let td = document.createElement("td");
            td.innerText = m.TeamA.Name;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = m.TeamB.Name;
            tr.appendChild(td);

            if (!match.ScoreA){
                td = document.createElement("td");
                td.innerText = "0"
                tr.appendChild(td);
            }else{
                td = document.createElement("td");
                td.innerText = m.ScoreA
                tr.appendChild(td);
            }

            if (!match.ScoreB){
                td = document.createElement("td");
                td.innerText = "0"
                tr.appendChild(td);
            }else{
                td = document.createElement("td");
                td.innerText = m.ScoreB
                tr.appendChild(td);
            }
        };
    });

    idboard++;
    return idboard;
};

var u11=[];
var u13=[];
var u13f=[];

fetch(url).then(function(resultas){
    console.log(resultas);
    resultas.json().then(function(object){
        console.log(object);
        jsondata = object.data;
        console.log(jsondata);
        let x = 1;
        var div = document.createElement("div");
        document.getElementById("container").appendChild(div);

        jsondata.forEach(function(liste){
            //console.log(liste.Field.Name);
            if(liste.Field.Name === terrain){
                if(liste.Phase.id === 1){
                    u11.push(liste);
                }

                if(liste.Phase.id === 5){
                    u13.push(liste);
                }

            };
        });

        idTableau= afficheMatch(u13,terrain,div,idTableau);
        idTableau= afficheMatch(u11,terrain,div,idTableau);
    });
});

{% endblock %}