{% extends "base.html.twig" %}
{% block body %}

    <div id="container" class="col-12 text-center">

        <h2 id="nomTerrain">{{ terrain.Name }}</h2>

        <p>// liste des matchs</p>

        <figure id="terrain">
            <svg class="img-fluid" viewBox="0 0 1224 547" width="1224" height="547" preserveAspectRatio="xMinYMin meet" >
                <image width="1224" height="547" xlink:href="/img/PlanTerrainsTournoi.png" />

                <g opacity="0" id="terrain1">
                    <a xlink:href="">
                        <rect x="660" y="50" opacity="1" fill="blue" width="90" height="110" style="transform: rotate(9deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain2">
                    <a xlink:href="#">
                        <rect x="770" y="55" opacity="1" fill="red" width="90" height="105" style="transform: rotate(9deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain3">
                    <a xlink:href="#">
                        <rect x="865" y="-90" opacity="1" fill="red" width="80" height="100" style="transform: rotate(9deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain4">
                    <a xlink:href="#">
                        <rect x="958" y="-88" opacity="1" fill="red" width="80" height="100" style="transform: rotate(9deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain5">
                    <a xlink:href="#">
                        <rect x="347" y="49" opacity="1" fill="pink" width="95" height="110" style="transform: rotate(20deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain6">
                    <a xlink:href="#">
                        <rect x="256" y="22" opacity="1" fill="red" width="95" height="110" style="transform: rotate(26deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain7">
                    <a xlink:href="#">
                        <rect x="378" y="99" opacity="1" fill="yellow" width="110" height="90" style="transform: rotate(37deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain8">
                    <a xlink:href="#">
                        <rect x="374" y="200" opacity="1" fill="crimson" width="110" height="90" style="transform: rotate(37deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain9">
                    <a xlink:href="#">
                        <rect x="206" y="133" opacity="1" fill="red" width="110" height="90" style="transform: rotate(34deg);" ></rect>
                    </a>
                </g>

                <g opacity="0" id="terrain10">
                    <a xlink:href="#">
                        <rect x="206" y="233" opacity="1" fill="blue" width="110" height="90" style="transform: rotate(34deg);" ></rect>
                    </a>
                </g>

            </svg>
        </figure>
    </div>

{% endblock %}

{% block javascript %}

//Url de l'api : /api/fields

var url = "http://localhost:8000/api/matchs"
var terrain = document.getElementById("nomTerrain").textContent;
console.log(terrain);

//affiche nom d'equipe, score, poule, phase.

function afficheMatch(match, terrain, div){
    let titre = false;
    match.forEach(function(m){
        if(m.Field.Name === terrain){
            while(titre === false){
                let br = document.createElement("br");
                div.appendChild(br);

                let tr = document.createElement("tr");
                tr.innerText= m.Phase.Name;
                div.appendChild(tr);

                titre = true;
            }

            tr = document.createElement("tr");
            tr.innerText = "Poule "+m.Poule.Name;
            div.appendChild(tr);

            let td = document.createElement("td");
            td.innerText = m.TeamA.Name;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = "/";
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = m.TeamB.Name;
            tr.appendChild(td);

            td = document.createElement("td");
            td.innerText = "//";
            tr.appendChild(td);

            if (!match.ScoreA){
                td = document.createElement("td");
                td.innerText = "0"
                tr.appendChild(td);
            }else{
                td = document.createElement("td");
                td.innerText = m.ScoreA
                tr.appendChild(td);
            }

            td = document.createElement("td");
            td.innerText =":";
            tr.appendChild(td);

            if (!match.ScoreB){
                td = document.createElement("td");
                td.innerText = "0"
                tr.appendChild(td);
            }else{
                td = document.createElement("td");
                td.innerText = m.ScoreB
                tr.appendChild(td);
            }
        };
    });
};

var u11=[];
var u13=[];
var u13f=[];

fetch(url).then(function(resultas){
    console.log(resultas);
    resultas.json().then(function(object){
        console.log(object);
        jsondata = object.data;
        console.log(jsondata);
        let x = 1;
        var div = document.createElement("div");
        document.getElementById("container").appendChild(div);

        jsondata.forEach(function(liste){
            //console.log(liste.Field.Name);
            if(liste.Field.Name === terrain){
                if(liste.Phase.id === 1){
                    u11.push(liste);
                }

                if(liste.Phase.id === 5){
                    u13.push(liste);
                }

            };
        });

        afficheMatch(u13,terrain,div);
        afficheMatch(u11,terrain,div);
    });
});

{% endblock %}