{% extends "base.html.twig" %}

{% block title %}Terrain {{ terrain1.Name }} et {{ terrain2.Name }} - {% endblock %}

{% block body %}

    <div id="container" class="col-12 text-center">



<div class="row">
        <div class="col" id="matchs1">        <h2 id="nomTerrain">{{ terrain1.Name }}</h2>


            <hr class="">

            {% set removeField = true %}
            {% set noEditMode = true %}

            {% set matchs = terrain1.meets %}

            {% include "admin/block/matchs2.html.twig" %}

        </div>
        <div class="col" id="matchs2"> <h2 id="nomTerrain">{{ terrain2.Name }}</h2>

            <hr class="">

            {% set removeField = true %}
            {% set matchs = terrain2.meets %}
            {% include "admin/block/matchs2.html.twig" %}
        </div>
</div>


        <hr />
        <figure id="terrain">
            <svg class="img-fluid" viewBox="0 0 1224 547" width="1224" height="547" preserveAspectRatio="xMinYMin meet" >
                <image width="1224" height="547" xlink:href="/img/PlanTerrainsTournoi.jpeg" />


            </svg>
        </figure>
    </div>

{% endblock %}
