{% extends "base.html.twig" %}

{% block title %}Terrain {{ terrain.Name }} - {% endblock %}

{% block body %}

    <div id="container" class="col-12 text-center">

        <h2 id="nomTerrain">{{ terrain.Name }}</h2>

        <hr class="">

        {% set removeField = true %}
        {% set noEditMode = true %}
        {% include "admin/block/matchs2.html.twig" %}




        <hr class="mt-5">


<div id="matchs"></div>

        <hr />
        <figure id="terrain">
            <svg class="img-fluid" viewBox="0 0 1224 547" width="1224" height="547" preserveAspectRatio="xMinYMin meet" >
                <image width="1224" height="547" xlink:href="/img/PlanTerrainsTournoi.jpeg" />


            </svg>
        </figure>
    </div>

{% endblock %}
