{% extends "base.html.twig" %}

{% block title %}Top - {% endblock %}


{% block body %}

    <div>

        <p>//affichage de l'équipe (ou des équipes si égalité) qui a marqué le plus de buts</p>

        <p>//affichage de l'équipe qui a encaissé le moins de but</p>

        <p>//affichage de l'équipe qui a le plus de victoire</p>

        <p>//affichage de l'équipe qui a fait le plus grand nombre de match sans prendre de but</p>


    </div>

{% endblock %}

{% block javascript %}


{% endblock %}