{% extends "base.html.twig" %}

{% block title %}Top - {% endblock %}


{% block body %}

    <div id="container">

        <p>//affichage de l'équipe (ou des équipes si égalité) qui a marqué le plus de buts !fait calcul</p>

        <p>//affichage de l'équipe qui a encaissé le moins de but !fait calcul</p>

        <p>//affichage de l'équipe qui a le plus de victoire !fait calcul</p>

        <p>//affichage de l'équipe qui a fait le plus grand nombre de match sans prendre de but</p>

        <div id="plusBut"></div>
        <div id="moinBut"></div>
        <div id="PlusVictoire"></div>
        <div id="PlusSeriesSansBut"></div>


    </div>

{% endblock %}


{% block javascript %}
    var url =  "/api/matchs"

    fetch(url).then(function(resultat){
        //console.log(resultat);
        resultat.json().then(function(resultatJson){
            //console.log(resultatJson);

            var data = resultatJson.data;
            console.log(data);
            var equipe = data[0].TeamA.Name
            var victoire = 0;
            var ButContre = 0;
            if(!data[0].ScoreA && !data[0].ScoreB){
                var totalBut = 0;
                ButContre = 0;
            }else{
                var totalBut = data[0].ScoreA;
                if(data[0].ScoreA > data[0].ScoreB){
                    //console.log("victoire +1 debut");
                    victoire = victoire + 1;
                };
                ButContre = data[0].ScoreB;
            };

            // tableaux qui recupere les different totaux et les equipes.
            var but = [];
            var TotalVictoire = [];
            var equipeName = [];
            var ButPris = [];
            //console.log("init but "+ but);

            //boucle qui additione les but dans un tableau.
            for(a=1; a<=data.length-1; a++){
                //console.log(equipe + a);

                if(data[a].TeamA || data[a].TeamB){
                    if(equipe === data[a].TeamA.Name){
                        if(!data[a].ScoreA && !data[0].ScoreB){
                            totalBut = totalBut+0;
                            ButContre = ButContre+0;
                            //console.log(ButContre);
                            victoire = victoire;
                            //console.log("pas  de changement de victoire si name = a");
                            //console.log("total but = "+totalBut);
                            
                        }else{
                            totalBut = totalBut + data[a].ScoreA;
                            ButContre = ButContre + data[a].ScoreB;
                            //console.log(ButContre);
                            //console.log("total but = "+totalBut);
                            if(data[a].ScoreA > data[a].ScoreB){
                                victoire = victoire+1;
                                //console.log("changement de victoire en +1 si A>B "+victoire);
                            }
                        };

                    }else if(equipe === data[a].TeamB.Name){

                        if(!data[a].ScoreB && !data[a].ScoreA){
                            totalBut = totalBut + 0;
                            ButContre = ButContre+0;
                            //console.log(ButContre);
                            //console.log("total but = "+totalBut);
                            victoire = victoire;
                            //console.log("pas de changement de victoire si name = b");

                        }else{
                            totalBut = totalBut + data[a].ScoreB;
                            ButContre = ButContre + data[a].ScoreA  
                            //console.log(ButContre);                          
                            //console.log("total but = "+totalBut);

                            if(data[a].ScoreB > data[a].ScoreA){
                                victoire = victoire+1;
                                //console.log(victoire);
                                //console.log("changement de victoire en +1 si B>A "+victoire);
                            };
                        };

                    }else{
                        but.push(totalBut);
                        //console.log(but);

                        ButPris.push(ButContre);
                        //console.log(ButPris);
                        ButContre = 0;

                        equipeName.push(equipe);
                        //console.log(equipeName);

                        TotalVictoire.push(victoire);
                        //console.log(TotalVictoire);

                        victoire = 0;
                        //console.log(victoire)
                        totalBut = 0;

                        equipe = data[a].TeamA.Name;
                        if(data[a].ScoreA){
                            totalBut = data[a].ScoreA;
                        }else{
                            totalBut = 0;
                        }

                        //console.log(equipe);
                        
                    };
                };                
            };

            //console.log(but);
            //console.log(equipeName);

            var min = ButPris[0];
            var EquipeMinBut = equipeName[0];

            //trouve le min de  ButPris
            for(a=0; a<=ButPris.length-1; a++){
                if(ButPris[a] < min){
                    min = ButPris[a];
                    EquipeMinBut = equipeName[a];
                }
            };

            let h2 = document.createElement("h2");
            document.getElementById("container").appendChild(h2);

            let h3 = document.createElement("h3");
            h3.innerText= EquipeMinBut + " " + min;
            h2.appendChild(h3);

            var equipeMax= [];

            function TrouveMax(equipeMax, tableauResultat, tableauEquipe){
                equipeMax = [[tableauResultat[0],tableauEquipe[0]]];
                //console.log(equipeMax[0][0]);

                for(a=0; a<=tableauResultat.length-1; a++){
                    if(equipeMax[0][0] < tableauResultat[a]){
                        equipeMax.shift();
                        equipeMax.push([tableauResultat[a], tableauEquipe[a]]);
                        console.log(equipeMax);
                    };
                };

                

                return equipeMax;

            };

            function egalite(equipeMax, tableauResultat, tableauEquipe){
                for(a=0; a<=tableauResultat.length-1; a++){
                    if(equipeMax[0][0] === tableauResultat[a] && equipeMax[0][1] != tableauEquipe[a]){
                        equipeMax.push([tableauResultat[a], tableauEquipe[a]]);
                    }else{
                        console.log("pas d'egalite");
                    }
                };
            };

            function affichage(equipeMax, id){
                let h2 = document.createElement("h2");
                document.getElementById(id).appendChild(h2);

                for(a=0; a<= equipeMax.length-1; a++){
                    let h3 = document.createElement("h3");
                    h3.innerText = equipeMax[a][a];
                    h2.appendChild(h3);
                };
            };

            equipeMax = TrouveMax(equipeMax, but, equipeName);
            equipeMax = egalite(equipeMax, but, equipeName);

            equipeMax.push([1,"test"]);
            console.log(equipeMax);

            affichage(equipeMax, "plusBut");

            equipeMax = TrouveMax(equipeMax, TotalVictoire, equipeName);
            equipeMax = egalite(equipeMax, TotalVictoire, equipeName);
            affichage(equipeMax, "PlusVictoire");

        });

    });
{% endblock %}