{% extends "base.html.twig" %}
{% block body %}

    <div class="col-12 text-center">
       <h2>Règlement</h2>

        <p>//pouvoir télécharger le fichier PDF</p>

        <p>//affichage du fichier dans une iframe</p>
    </div>

{% endblock %}

{% block javascript %}

//Url de l'api : /api/fields

{% endblock %}