{% extends "base.html.twig" %}

{% block title %}Règlement - {% endblock %}


{% block body %}

    <div class="col-12 mt-4 text-center">
       <h2>Règlement</h2>

        <object data="/docs/reglement.pdf" style="width: 100%; height: 700px;" type="application/pdf">
            <embed src="/docs/reglement.pdf" type="application/pdf" />
        </object>
        <a class="btn btn-primary w-100"  href="/docs/reglement.pdf">Telecharger le reglement</a>
    </div>

{% endblock %}