{% extends "base.html.twig" %}

{% block title %}Règlement - {% endblock %}


{% block body %}

    <div class="col-12 text-center">
       <h2>Règlement</h2>

        <p>//pouvoir télécharger le fichier PDF</p>

        <p>//affichage du fichier dans une iframe</p>

        //voir comment faire pour l'afficher !! -> probleme de lien !
        
        <iframe id="Frame-reglement"
            title="Reglement"
            width="1000"
            height="500"
            src="./pdf-test.pdf ">
        </iframe>

        <a href="./pdf-test.pdf">Telecharger le reglement</a>
    </div>

{% endblock %}

{% block javascript %}

//Url de l'api : /api/fields

{% endblock %}