{% for poule in phase.poules %}

<div class="row mt-5 text-center">
        <h3>{{ poule.Name }} </h3>

     <hr >


    <div class="col-4 align-middle text-center border">
        {% set match = poule.meets[0] %}
       {% include "admin/block/mini_match.html.twig" %}
    </div>

    <div class="col-4 text-center ">

        <div class="border">
            {% set match = poule.meets[2] %}
            {% include "admin/block/mini_match.html.twig" %}

        </div>

        <div class="border mt-4">
            {% set match = poule.meets[3] %}
            {% include "admin/block/mini_match.html.twig" %}

        </div>

    </div>

    <div class="col-4 text-center border">
        {% set match = poule.meets[1] %}
        {% include "admin/block/mini_match.html.twig" %}

    </div>
</div>
{% endfor %}

