{% if phase.meets|length > 0 %}
{% for key, group in phase.meets|filter(v => v.poule.id == groupe)|group_by(==> _.tour) %}
    <h5 class="mt-4">Tour {{ key }}</h5>
    <table class="table table-striped table-bordered">
        <tr><th>Équipe A</th><th></th><th>Équipe B</th><th>Score A</th><th>Score B</th><th>TAB</th><th>TAB</th><th>Horaire</th><th colspan="2">Terrain</th></tr>
        {% for meet in group %}
           {% include "admin/block/displayMatch.html.twig" %}

        {% endfor %}

    </table>



{% endfor %}    {% endif %}