{% if matchs|length > 0 %}

    <table class="table table-striped table-bordered">
    <tr><th>Équipe</th><th>Score</th><th>Équipe</th><th>TAB</th><th>Forfait</th><th>Horaire</th>{% if removeField is not defined %}<th colspan="3">Terrain</th>{% endif %}</tr>
    {% for meet in matchs %}
                {% include "admin/block/displayMatch.html.twig" %}





    {% endfor %}    </table> {% endif %}