{% extends 'base.html.twig' %}

{% block title %}Saisie - {% endblock %}

{% block body %}

    <div class="example-wrapper">

        <hr class="">


        <h4>Saisie du match entre {{ meet.teamA }} et {{ meet.teamB }} </h4>
        <hr class="">

        <table class="table table-striped table-bordered">
            <tr><th>Équipe</th><th>Score</th>{% if meet.phase.type.format == "demifinalesfinales" %}<th>TAB</th>{% endif %}{% if meet.phase.type.format != "normal" %}<th>Forfait</th>{% endif %}<th>Horaire</th><th colspan="3">Terrain</th></tr>
        {% include "admin/block/displayMatch.html.twig" %}

        </table>




        <div class="row mt-5">

            {#<div class="col"><a class="btn btn-secondary w-100 m-2" href="">Ajouter une équipe</a></div>#}

        </div>


    </div>
{% endblock %}

{% block secondNav %}
    {% include "admin/adminMenu.html.twig" %}
{% endblock %}