{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block secondNav %}
    {% include "admin/adminMenu.html.twig" %}
{% endblock %}

{% block body %}


    <div class="example-wrapper mt-1">

        <form class="form "  action="{{ path('app_add_team', {idCategory:category.id}) }}" method="post">

            <div class="form-group ">
                <label for="username">Nom de l'équipe</label>
                <input type="text" class="form-control" id="nameTeam" name="nameTeam"  placeholder="Nom de l'équipe">
            </div>

            <div class="form-group mt-3 mb-3">
                <label for="category">Catégorie</label>
                <select class="form-control" id="category"  name="category" >
                    {% for category in categories %}<option value="{{ category.id }}">{{ category.Name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mt-3 mb-3">
                <label for="rang">Rang</label>
                <select class="form-control" id="rang"  name="rang" >
                  <option>Aucun</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>


            <button class="btn w-100 btn-primary" type="submit">Créer l'équipe</button>

        </form>


    </div>
{% endblock %}


