{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block secondNav %}
    {% include "admin/adminMenu.html.twig" %}
{% endblock %}

{% block body %}


<div class="example-wrapper mt-1">

<h2>Gestion des données</h2>


    <div class="row mt-5">

            <div class="col"><a class="btn btn-secondary w-100 m-2" href="">Gestion des terrains</a></div>


    </div>


</div>
{% endblock %}
