{% extends "base.html.twig" %}

{% block title %}Partenaires - {% endblock %}


{% block body %}

    <div class="row mt-5 text-center">
        {% for partenaire in partenaires %}
            <div class="col-3 mt-4 text-uppercase">{{ partenaire.Name }} <br ><img src="{{ partenaire.logo }}"  alt="{{ partenaire.Name }}"/></div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascript %}


{% endblock %}