{% extends "base.html.twig" %}
{% block body %}
    <div class="col-12 text-center">
      <h3>Partenaires</h3>

        <p>//afficher la liste des partenaires + lien vers le site du partenaire</p>
    </div>

{% endblock %}

{% block javascript %}


{% endblock %}