{% extends "base.html.twig" %}
{% block body %}

    <a href="//localhost:8000/categorie/1/phase/1">Phase 1</a>
    <a href="//localhost:8000/categorie/1/phase/2">Phase 2</a>
    <a href="//localhost:8000/categorie/1/phase/3">Phase 3</a>

{% endblock %}

{% block javascript %}


{% endblock %}