{% extends "base.html.twig" %}


{% block body %}
</div></div></div>

    <section  class="p-0 m-0">
        <div class="container-fluid m-0 p-0">
            <div class="row g-0">

    <div class="col-12 text-center">
        <img style="margin-top:-30px" src="/img/fond.jpeg" class="img-fluid" alt="US Beaufort Youth League">
    </div>


{% endblock %}