{% extends "base.html.twig" %}

{% block title %}Équipes - {% endblock %}


{% block body %}


    <div class="col-4"><table class="table table-bordered table-striped  text-center" id="U11"><tr><th>U11</th></tr></table></div>
    <div class="col-4"><table class="table table-bordered table-striped text-center" id="U13"><tr><th>U13</th></tr></table></div>
    <div class="col-4">  <table class="table table-bordered table-striped text-center" id="U13F"><tr><th>U13F</th></tr></table></div>


{% endblock %}

{% block javascript %}

{{ parent() }}

    var url = url_base+"/api/teams";
    fetch(url).then(function(resultas){
        console.log(resultas);
        resultas.json().then(function(resultasJson){
            console.log(resultasJson);
            var DivU11 = document.getElementById("U11");
            var DivU13 = document.getElementById("U13");
            var DivU13F = document.getElementById("U13F");

            equipe = resultasJson.data;
            console.log(equipe);

            equipe.forEach(function(liste){
                if(liste.Category.Name === "U11"){
                    let idTeam = liste.id;

                    let tr = document.createElement("tr");
                    DivU11.appendChild(tr);

                    let a = document.createElement("a");
                    a.innerText=liste.Name;
                    a.setAttribute("href", "//localhost:8000/equipe/"+idTeam);
                    a.classList.add("btn");
                    a.classList.add("btn-sm");
                    a.classList.add("btn-primary");
                    a.classList.add("w-100");
                    a.classList.add("mt-2");
                    tr.appendChild(a);
                }

                if(liste.Category.Name === "U13"){
                    let idTeam = liste.id;

                    let tr = document.createElement("tr");
                    DivU13.appendChild(tr);

                    let a = document.createElement("a");
                    a.classList.add("btn");
                    a.classList.add("btn-sm");
                    a.classList.add("btn-primary");
                    a.classList.add("w-100");
                    a.classList.add("mt-2");
                    a.innerText=liste.Name;
                    a.setAttribute("href", "//localhost:8000/equipe/"+idTeam);
                    tr.appendChild(a);
                }

                if(liste.Category.Name === "U13F"){
                    let idTeam = liste.id;

                    let tr = document.createElement("tr");
                    DivU13F.appendChild(tr);

                    let a = document.createElement("a");
                    a.innerText=liste.Name;
                    a.classList.add("btn");
                    a.classList.add("btn-sm");
                    a.classList.add("btn-primary");
                    a.classList.add("w-100");
                    a.classList.add("mt-2");
                    a.setAttribute("href", "//localhost:8000/equipe/"+idTeam);
                    tr.appendChild(a);
                }

            });
        });
    });

{% endblock %}