{% extends "base.html.twig" %}

{% block title %}Équipes - {% endblock %}


{% block body %}

<div id="container"></div>

    {% for category in categories %}
        <div class="col-12 col-md-4"><table class="table table-bordered table-striped  text-center"  id="{{ category.Name }}"><tr><th>{{ category.Name }}</th></tr>

                {% for team in category.teams %}
            <tr class="border-0"><td class="border-0"><a class="btn btn-primary w-100" href="{{ path("teams_show",{id:team.id}) }}">{{ team }}</a></td></tr>
                    {% endfor %}

            </table></div>
    {% endfor %}



    <style>
        .table > :not(:first-child) { border:0px!important; }
    </style>

{% endblock %}

