{% extends "base.html.twig" %}
{% block body %}

    <div class="col-12 text-center">

        <p>//Afficher trois colonnes, une colonne par catégorie, pouvoir cliquer sur une équipe et afficher les matchs de l'équipe </p>
    </div>


    <div class="col-4"><table class="table table-bordered table-striped text-center" id="U11"><tr><th>U1</th></tr></table></div>
    <div class="col-4"><table class="table table-bordered table-striped text-center" id="U13"><tr><th>U13</th></tr></table></div>
    <div class="col-4">  <table class="table table-bordered table-striped text-center" id="U13F"><tr><th>U13F</th></tr></table></div>


{% endblock %}

{% block javascript %}

    fetch("//localhost:8000/api/teams").then((data)=>{
        console.log(data);
       data.json().then((jsonData)=>{
           console.log(jsonData);
           jsonData.forEach((team)=>{
               console.log(team);
               let tr = document.createElement("tr");
               let td = document.createElement("td");

               let a = document.createElement("a");
               a.innerText = team.Name;
               a.setAttribute("href","/equipe/"+team.id);
               td.appendChild(a);
               tr.appendChild(td)
               document.getElementById(team.Category.Name).appendChild(tr);
           });
       });
    });

{% endblock %}