{% extends "base.html.twig" %}

{% block title %}Équipes - {% endblock %}


{% block body %}

    <div class="col-12 text-center">

        <p>//Afficher trois colonnes, une colonne par catégorie, pouvoir cliquer sur une équipe et afficher les matchs de l'équipe </p>
    </div>


    <div class="col-4"><table class="table table-bordered table-striped text-center" id="U11"><tr><th>U11</th></tr></table></div>
    <div class="col-4"><table class="table table-bordered table-striped text-center" id="U13"><tr><th>U13</th></tr></table></div>
    <div class="col-4">  <table class="table table-bordered table-striped text-center" id="U13F"><tr><th>U13F</th></tr></table></div>


{% endblock %}

{% block javascript %}

    var url = "http://localhost:8000/teams";
    fetch(url).then(function(resultas){
        console.log(resultas);

        resultas.json().then(function(data){
            console.log(data);
        });
    });

{% endblock %}