{% extends "base.html.twig" %}
{% block body %}

<div class="col-12 text-center">
    <h2>{{ equipe.Name }}</h2>

    <p>//Liste des matchs</p>
</div>

{% endblock %}

{% block javascript %}


{% endblock %}