{% extends "base.html.twig" %}

{% block title %}{{ equipe.Name }} - {% endblock %}


{% block body %}

<div class="col-12 text-center" id="container">

    <a href="{{ path("teams_index") }}" class="float-end btn btn-primary">retour à la liste des équipes</a>

    <h2>{{ equipe.Name }}</h2>


    <hr class="">

    {% set removeArbitre = true %}
    {% include "admin/block/matchs2.html.twig" %}




    <hr class="mt-5">

</div>

{% endblock %}
